{% extends "Base/base.html" %} 
{% load static %} {% load bootstrap5 %} 
{% load crispy_forms_tags %} 
{% block breadcrumb1 %} Plano de aula {% endblock %} 
{% block breadcrumb2 %} Criação {% endblock %} 
{% block titulo %} Novo plano de aula {% endblock %}
{% block conteudo %}

<div class="p-3 text-center">
    <button id="btn_inf_gerais" class="btn btn-success" onclick="mostrar_inf_gerais()">Informações gerais</button>
    <button id="btn_montagem_programacao" class="btn btn-light" onclick="mostrar_montagem_programacao()">Montagem e Programação</button>
    <button id="btn_midias" class="btn btn-light" onclick="mostrar_execucao()">Mídias</button>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" id="lista_id_conteudos" name="lista_id_conteudos"></input>

    <div class="row float-right">
        <input class="btn btn-info col-lg-2" type="submit" value="Cadastrar" />
    </div>

    <div>
        <div id="div_inf_gerais">
            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 mb-lg-0 mb-4">
                    <div class="card">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-uppercase text-sm">Plano de aula</h6>
                            </div>
                        </div>
                        <div class="card-body p-3 overflow-auto">
                            {{ form_inf_gerais.titulo|as_crispy_field }}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    {{ form_inf_gerais.contextualizacao|as_crispy_field }}
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    {{ form_inf_gerais.descricao_atividade|as_crispy_field }}
                                </div>
                            </div>
                            <!-- {% bootstrap_form form_inf_gerais %} -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 mb-lg-0 mb-4">
                    <div class="card">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-uppercase text-sm">Conteúdos selecionados</h6>
                            </div>
                        </div>
                        <div class="card-body p-3 overflow-auto">
                            <div id="div_conteudos_selecionados" class="row">
                            </div>
                            <hr class="horizontal dark">
                            <div id="div_disciplinas">
                                <div class="card-header pb-0 p-3">
                                    <div class="d-flex justify-content-between">
                                        <p class="text-uppercase text-sm">Disciplinas</p>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for disciplina in lista_disciplinas %} {% if disciplina.conteudos.all|length > 0 %}
                                    <div class="col-lg-2 col-md-4">
                                        <a onclick="selecionar_conteudo('{{disciplina.nome}}')">
                                            <i class="text-primary me-2 icon-xxs dropdown-item-icon fas fa-arrow-right"></i>
                                        </a>
                                        {{ disciplina.nome }}
                                    </div>
                                    {% endif %} {% endfor %}
                                </div>
                            </div>
                            <div id="div_conteudos" style="display: none">
                                <div class="card-header pb-0 p-3">
                                    <div class="d-flex justify-content-between">
                                        <p class="text-uppercase text-sm">Conteúdos</p>
                                        <p id="disciplina_selecionada"></p>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="tabela_conteudos" class="table align-items-center" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Conteúdo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="row">
                                    {% for conteudo in lista_conteudos %}
                                        {% if conteudo.nome == "" %}
                                            <button class="btn btn-primary col-lg-4 col-md-4">{{ conteudo.nome }}</button>
                                        {% endif %}
                                    {% endfor %}
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="div_montagem_programacao" style="display: none">
            <div class="row mt-4">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">
                    <div class="card">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-uppercase text-sm">Montagem</h6>
                            </div>
                        </div>
                        <div class="card-body p-3 overflow-auto">
                            {% bootstrap_form form_montagem %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">
                    <div class="card">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-uppercase text-sm">Programação</h6>
                            </div>
                        </div>
                        <div class="card-body p-3 overflow-auto">
                            {% bootstrap_form form_programacao %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="div_midias" style="display: none">
            <div class="row mt-4">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">
                    <div class="card">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-uppercase text-sm">Robô</h6>
                            </div>
                        </div>
                        <div class="card-body p-3 overflow-auto">
                            {% bootstrap_form form_midias_robo %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">
                    <div class="card">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-uppercase text-sm">Execução</h6>
                            </div>
                        </div>
                        <div class="card-body p-3 overflow-auto">
                            {% bootstrap_form form_midias_execucao %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
{% endblock %} {% block scripts %}

<script>
    var conteudos_selecionados = []

    function mostrar_inf_gerais() {
        // titulo = document.getElementById("id_titulo").value
        // console.log(titulo)
        document.getElementById("div_inf_gerais").style.display = 'block';
        document.getElementById("div_montagem_programacao").style.display = 'none';
        document.getElementById("div_midias").style.display = 'none';
        trocar_cor("btn_inf_gerais", "btn_montagem_programacao", "btn_midias");
    }

    function mostrar_montagem_programacao() {
        document.getElementById("div_inf_gerais").style.display = 'none';
        document.getElementById("div_montagem_programacao").style.display = 'block';
        document.getElementById("div_midias").style.display = 'none';
        trocar_cor("btn_montagem_programacao", "btn_inf_gerais", "btn_midias");
    }

    function mostrar_execucao() {
        document.getElementById("div_inf_gerais").style.display = 'none';
        document.getElementById("div_montagem_programacao").style.display = 'none';
        document.getElementById("div_midias").style.display = 'block';
        trocar_cor("btn_midias", "btn_inf_gerais", "btn_montagem_programacao");
    }

    function trocar_cor(nova, antiga1, antiga2) {
        document.getElementById(nova).classList.remove('btn-light');
        document.getElementById(nova).classList.add('btn-success');
        document.getElementById(antiga1).classList.remove('btn-success');
        document.getElementById(antiga1).classList.add('btn-light');
        document.getElementById(antiga2).classList.remove('btn-success');
        document.getElementById(antiga2).classList.add('btn-light');
    }

    function selecionar_conteudo(nome) {
        document.getElementById("div_disciplinas").style.display = 'none';
        document.getElementById("div_conteudos").style.display = 'block';
        document.getElementById("disciplina_selecionada").innerHTML = "" +
            "<a onclick='escolher_outra_disciplina()'>" +
            "   <i class='fa fa-arrow-left font-weight-bolder text-primary'></i>" +
            "</a>" +
            " Disciplina: " + nome;

        tabela = document.getElementById('tabela_conteudos');

        $.ajax({
            url: "/disciplina/listar-conteudos/", // the endpoint
            type: "GET", // http method
            data: {
                'nome': nome
            },
            success: function(response) {
                for (var i = 0; i < response.length; i++) {
                    nova_linha = tabela.insertRow(-1);
                    nova_celula = nova_linha.insertCell(0);
                    nova_celula.innerHTML = response[i][1] +
                        " <a onclick=\"adicionar_conteudo('" + nome + "','" + response[i][1] + "')\" style='float:right'>" +
                        "    <i class='fas fa-plus font-weight-bolder text-primary'></i> " +
                        " </a>"
                }
            }
        });
    }

    function escolher_outra_disciplina() {
        document.getElementById("div_disciplinas").style.display = 'block';
        document.getElementById("div_conteudos").style.display = 'none';
        $("#tabela_conteudos").find("tr:not(:first)").remove();
    }

    function adicionar_conteudo(disciplina, conteudo) {

        $.ajax({
            url: "/disciplina/ler-id-conteudo/", // the endpoint
            type: "GET", // http method
            data: {
                'conteudo': conteudo,
                'disciplina': disciplina
            },
            success: function(response) {
                if (!conteudos_selecionados.includes(response['id'])) {
                    conteudos_selecionados.push(response['id'])
                    document.getElementById("lista_id_conteudos").value = conteudos_selecionados

                    var str = "<a class='text-sm opacity-8' onclick='remover_conteudo(" + response['id'] + ")' id='conteudo_selecionado_" + response['id'] +
                        "'> " +
                        " <i class='fas fa-minus font-weight-bolder text-danger'></i>  " +
                        disciplina + ": " + conteudo +
                        " </a>";
                    document.getElementById("div_conteudos_selecionados").innerHTML += str;
                }
            }
        });
    }

    function remover_conteudo(id) {
        const index = conteudos_selecionados.indexOf(id);
        conteudos_selecionados.splice(index, 1);
        document.getElementById("lista_id_conteudos").value = conteudos_selecionados
        var elem = document.getElementById("conteudo_selecionado_" + id);
        elem.parentNode.removeChild(elem);
        console.log(conteudos_selecionados)
    }
</script>

{% endblock %}