{% extends "Base/base.html" %} 

{% load static %} 
{% load pagination_tags %}
{% load widget_tweaks %}

{% load crispy_forms_tags %} 

{% block conteudo %}

<br>

<div class="container">
    <div class="card">
        {% if acao.data_fim is not None and todays_date > acao.data_fim|date:"Y-m-d" or acao.status is False %}
            <div id="card_header_informacoes" class="card-header bg-gradient-secondary pb-0 p-3">
        {% else %}
            <div id="card_header_informacoes" class="card-header bg-gradient-primary pb-0 p-3">
        {% endif %}
        
            <span class="text-sm mb-0 text-uppercase text-white font-weight-bold">{{acao.titulo}}</span>
            <div class="float-end">
                <span class="text-sm mb-0 text-uppercase text-white font-weight-bold px-3">Início: {{ acao.data_inicio|date:"d/m/Y" }}</span>
                <span class="text-sm mb-0 text-uppercase text-white font-weight-bold px-3">
                    {% if acao.data_fim is not None %}
                        Fim: {{ acao.data_fim|date:"d/m/Y" }}
                    {% endif %}
                </span>
                {% if acao.responsavel.username == user.username %}
                    <a href="{% url 'acoes:editar' pk=acao.pk %}" class="text-white"><i class="fa fa-pencil"></i></a>
                    {% if acao.status %}
                        <a onclick="alterar_status_acao({{acao.pk}})"><i id="icone_locker" class="text-white fa fa-lock-open"></i></a>
                    {% else %}
                        <a onclick="alterar_status_acao({{acao.pk}})"><i id="icone_locker" class="text-white fa fa-lock"></i></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="card-body row">
            <div class="col-4">
                <span class="mb-2 text-xs">Tipo: 
                    <span class="text-dark font-weight-bold ms-sm-2">
                        {{ acao.tipo }}
                    </span>
                </span>
            </div>
            <div class="col-4">
                <span class="mb-2 text-xs">Local: 
                    <span class="text-dark font-weight-bold ms-sm-2">
                        {% if acao.local is not None %}
                            {{ acao.local }}
                        {% endif %}
                    </span>
                </span>
            </div>
            <div class="col-4">
                <span class="mb-2 text-xs">Responsável: 
                    <span class="text-dark font-weight-bold ms-sm-2">
                        {{ acao.responsavel }}
                    </span>
                </span>
            </div>
            <div class="overflow-auto">
                <i class="ni education_hat mr-2"></i>
                <p>{{ acao.descricao|linebreaks }}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        {% if acao.data_fim is not None and todays_date > acao.data_fim|date:"Y-m-d" or acao.status is False %}
            <div id="card_header_midias" class="card-header bg-gradient-secondary pb-0 p-3">
        {% else %}
            <div id="card_header_midias" class="card-header bg-gradient-warning pb-0 p-3">
        {% endif %}
        
            <span class="text-sm mb-0 text-uppercase text-white font-weight-bold">Mídias</span>
            <div class="float-end">
                {% if acao.responsavel.username == user.username %}
                    <a href="{% url 'acoes:editar_midia' pk=acao.pk %}" class="text-white"><i class="fa fa-pencil"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="card-body row">
            {% for midia in acao.midias.all %}
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" data-bs-toggle="modal" data-bs-target="#modalMidia" 
                            data-bs-midia-url="{{midia.midia.url}}" class="text-xxs">
                        <img src="{{ midia.midia.url }}" style="max-height: 100px;max-width: 100px;object-fit: contain;"/>
                    </a>
                </div>
            {% empty %}
                Não há mídias cadastradas para essa ação.
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="card">
        {% if acao.data_fim is not None and todays_date > acao.data_fim|date:"Y-m-d" or acao.status is False %}
            <div id="card_header_mensagens" class="card-header bg-gradient-secondary pb-0 p-3">
        {% else %}
            <div id="card_header_mensagens" class="card-header bg-gradient-success pb-0 p-3">
        {% endif %}
        
            <span class="text-sm mb-0 text-uppercase text-white font-weight-bold">Mensagens</span>
            <div class="float-end">
                <a href="" class="text-white" data-bs-toggle="modal" data-bs-target="#modalNovaMensagem"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="card-body row">
            {% for mensagem in lista_mensagens %}
                <div>
                    <span class="text-sm mb-0 text-uppercase font-weight-bold">{{mensagem.usuario}}</span>
                    {% if mensagem.usuario.id == request.user.id %}
                        <a href="" data-bs-toggle="modal" data-bs-target="#modalDeletar" 
                                data-bs-mensagem="{{mensagem.texto}}" data-bs-mensagem-id="{{mensagem.pk}}" class="text-xxs">
                            <span class="badge badge-sm bg-gradient-danger">Deletar</span>
                        </a>
                    {% endif %}
                    <div class="float-end">
                        <span class="text-sm mb-0 text-uppercase font-weight-bold">{{mensagem.data|date:"d/m/Y H:i"}}</span>
                        {% if mensagem.mensagem_original is None %}
                            <a href="" class="text-xs" data-bs-mensagem-id="{{mensagem.pk}}" data-bs-toggle="modal" data-bs-target="#modalNovaMensagem"><i class="fa fa-reply"></i></a>
                        {% endif %}
                    </div>
                    <br>
                    <span class="text-xs">{{mensagem.texto|linebreaks}}</span>
                </div>
                {% for reply in mensagem.replies.all %}
                    <div class="col-1"></div>
                    <div class="col-11">
                        <div>
                            <span class="text-sm mb-0 text-uppercase font-weight-bold">{{reply.usuario}}</span>
                            {% if reply.usuario.id == request.user.id %}
                                <a href="" data-bs-toggle="modal" data-bs-target="#modalDeletar" 
                                        data-bs-mensagem="{{reply.texto}}" data-bs-mensagem-id="{{reply.pk}}" class="text-xxs">
                                    <span class="badge badge-sm bg-gradient-danger">Deletar</span>
                                </a>
                            {% endif %}
                            <div class="float-end">
                                <span class="text-sm mb-0 text-uppercase font-weight-bold">{{reply.data|date:"d/m/Y H:i"}}</span>
                            </div>
                            <br>
                            <span class="text-xs">{{reply.texto|linebreaks}}</span>
                        </div>
                    </div>
                {% endfor %}
            {% empty %}
                Não há nenhuma mensagem.
            {% endfor %}
        </div>
    </div>
</div>

<div id="modalMidia" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="midia_modal" style="width: 100%;" src="{{ midia.midia.url }}"/>
            </div>
        </div>
    </div>
</div>

<div id="modalNovaMensagem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nova mensagem</h5>
                <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    {%csrf_token%}
                    {{ form_nome_mensagem.texto|as_crispy_field }}
                    <input id="hidden_input" type="hidden" name="mensagem_original" />
                </div>
                <div class="modal-footer">
                    <input class="btn btn-info" type="submit" value="Submeter"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalDeletar" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deletar mensagem</h5>
                <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja deletar a mensagem?</p>
                <p id="mensagem_modal" class="text-xs"></p>
                <p class="text-xxs">As respostas à essa mensagem também serão deletadas.</p>
            </div>
            <div class="modal-footer">
                <a id="anchor_deletar_mensagem" href="" class="btn btn-primary">Deletar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %} 

{% block scripts %}
<script src="{% static 'assets/js/custom/acoes.js' %}"></script>

<script>
    var modalMidia = document.getElementById('modalMidia')
    modalMidia.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var midiaURL = button.getAttribute('data-bs-midia-url')
        var imgModal = document.getElementById('midia_modal')
        midia_modal.src = midiaURL
    })

    var modalNovaMensagem = document.getElementById('modalNovaMensagem')
    modalNovaMensagem.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var mensagemId = button.getAttribute('data-bs-mensagem-id')
        var hiddenInput = document.getElementById('hidden_input')
        hiddenInput.value = mensagemId
    })
    
    var modalDeletar = document.getElementById('modalDeletar')
    modalDeletar.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var mensagem = button.getAttribute('data-bs-mensagem')
        var mensagem_modal = document.getElementById('mensagem_modal')
        mensagem_modal.innerHTML = mensagem

        var anchor = document.getElementById('anchor_deletar_mensagem')
        var mensagemId = button.getAttribute('data-bs-mensagem-id')
        var stringHref = "/acoes/deletar-mensagem/" + mensagemId
        anchor.href = stringHref
    })
</script>

{% endblock %}