{% extends "Base/base.html" %} 

{% load static %} 
{% load bootstrap5 %} 
{% load crispy_forms_tags %} 

{% block conteudo %}

<br>

<div class="container">
    <p class="text-uppercase font-weight-bold">Atualizar ação
        <a href="" class="float-end" data-bs-toggle="modal" data-bs-target="#modalDeletar">
            <span class="badge badge-sm bg-gradient-danger">Deletar</span>
        </a>
    </p>
    

    <div class="card">
        <div class="card-body p-3 overflow-auto">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.status|as_crispy_field }}

                <div class="row">
                    <div class="col-8">
                        {{ form.titulo|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ form.tipo|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        {{ form.data_inicio|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ form.data_fim|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ form.local|as_crispy_field }}
                    </div>
                </div>

                {{ form.descricao|as_crispy_field }}
                <input class="btn btn-info col-lg-2" type="submit" value="Atualizar" />
            </form>
        </div>
    </div>

    <div id="modalDeletar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletar ação</h5>
                    <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Deseja deletar a ação <strong>{{object.titulo}}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'acoes:deletar' pk=object.pk %}" class="btn btn-primary">Deletar</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <p class="text-uppercase font-weight-bold">Mídias</p>
    

    <div class="card">
        <div class="card-body p-3 overflow-auto">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form_nova_midia.midia|as_crispy_field }}
                <input class="btn btn-info col-lg-2" type="submit" value="Inserir" />
            </form>
        </div>
        {{object.midias.all}}
    </div>

    
</div>




{% endblock %} 