<!DOCTYPE html>
<html lang="pt-br">

{% load static %}
{% load bootstrap5 %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'src/assets/images/robo_icone.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
  <link rel="stylesheet" href="{% static 'src/assets/css/theme.css' %}">
  <!-- @@include("../partials/head.html") -->
  <title>Robótica</title>
</head>

<body>
  <!-- container -->
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <h1 style="color:#624BFF">Robótica</h1>
              <p class="mb-6">Adicione as suas informações.</p>
            </div>
            <!-- Form -->
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div>
                    <!-- Button -->
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary">
                        Cadastrar nova conta
                      </button>
                    </div>
    
                    <div class="d-md-flex justify-content-between mt-4">
                      <div class="mb-2 mb-md-0">
                        <a href="{% url 'usuario:login' %}" class="fs-5">Já está cadastrado? Login </a>
                      </div>
                      <div>
                        <a href="forget-password.html" class="text-inherit fs-5">Esqueceu sua senha?</a>
                      </div>
    
                    </div>
                  </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
  <script src="{% static 'src/assets/js/main.js' %}"></script>
  <script src="{% static 'src/assets/js/feather.js' %}"></script>
  <script src="{% static 'src/assets/js/copyButton.js' %}"></script>
  <script src="{% static 'src/assets/js/sidebarMenu.js' %}"></script>
  <!-- @@include("../partials/scripts.html") -->
</body>

</html>