<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load bootstrap4 %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Lab. de Parasitologia</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->

  <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.css' %}" />

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Mudar sua senha</h1>
                  </div>
                    {% if validlink %}

                        <form class="user" method="post">
                              {% csrf_token %}
                            {% for k, message in form.errors.items %}
                                {{ message }}
                            {% endfor %}
                            <div class="form-group">
                              <input type="password" class="form-control form-control-user" id="new_password1" name="new_password1" placeholder="Nova senha">
                            </div>
                            <div class="form-group">
                              <input type="password" class="form-control form-control-user" id="new_password2" name="new_password2" placeholder="Confirmar senha">
                            </div>
                            <input type="submit" value="Resetar Senha" class="btn btn-primary btn-user btn-block">
                            <!--<a type="submit" href="{% url 'password_reset_done' %}" class="btn btn-primary btn-user btn-block">-->
                              <!--Resetar senha-->
                            <!--</a>-->
                          </form>

                        <!--<form class="user" method="POST">-->
                            <!--{% csrf_token %}-->
                            <!--<div class="form-group">-->
                            <!--{% for field in form %}-->
                                <!--<p>-->
                                    <!--{{ field.label_tag }}<br>-->
                                    <!--{{ field }}-->
                                    <!--{% for error in field.errors %}-->
                                <!--<p style="color: red">{{ error }}</p>-->
                                    <!--{% endfor %}-->
                                <!--</p>-->
                            <!--{% endfor %}-->
                            <!--</div>-->
                            <!--<a href="{% url 'password_reset_complete' %}" class="btn btn-primary btn-user btn-block">-->
                              <!--Resetar senha-->
                            <!--</a>-->
                          <!--</form>-->
                    {% else %}
                        <p class="mb-4">O link para resetar a senha está inválido, provavelmente
                            porque já foi utilizado.</p>
                        <p class="mb-4">Por favor, realize a operação novamente.</p>
                    {% endif %}

                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'usuario:login' %}">Já tem uma conta? Faça o login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.js' %}"></script>

</body>

</html>
