{% load static %}

<link rel="shortcut icon" type="image/x-icon" href="{% static 'src/assets/images/robo_icone.png' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
<link rel="stylesheet" href="{% static 'src/assets/css/theme.css' %}">
<link href="{% static 'src/assets/fontawesome/css/fontawesome.css' %}" rel="stylesheet">
<link href="{% static 'src/assets/fontawesome/css/brands.css' %}" rel="stylesheet">
<link href="{% static 'src/assets/fontawesome/css/solid.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<title>Robótica</title>