{% load static %}

      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="navbar-nav mr-auto">
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'home' %}" class="nav-link font-weight-bold px-0 text-white">
                <img src="{% static 'assets/img/repo-educ-logo.png' %}" width="150" alt="">
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="{% url 'plano_aula:espaco_usuario' %}" class="nav-link font-weight-bold px-0 text-white">
                <span class="d-sm-inline d-none">Meu espaço</span>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="{% url 'plano_aula:listar' %}" class="nav-link font-weight-bold px-0 text-white">
                <span class="d-sm-inline d-none">Planos de aula</span>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="" class="nav-link font-weight-bold px-0 text-white">
                <span class="d-sm-inline d-none">Usuários</span>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="{% url 'acoes:listar' %}" class="nav-link font-weight-bold px-0 text-white">
                <span class="d-sm-inline d-none">Ações</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="navbar-nav ml-auto collapse navbar-collapse justify-content-end">
          <div class="pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text text-body"><i class="fa fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Digite aqui...">
            </div>
          </div>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="" class="nav-link font-weight-bold px-0 text-white">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">{{user.first_name}} {{user.last_name}}</span>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link p-0 text-white">
                <i class="fa fa-sign-out-alt fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

<style>
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#alerta_sugestoes {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
</style>

<script src="{% static 'assets/js/custom/alerta_sugestoes.js' %}"></script>