<footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            © <script>
              document.write(new Date().getFullYear())
            </script>,
            criado com <i class="fa fa-heart"></i> pela
            <a href="https://www.ufrn.br" class="font-weight-bold" target="_blank">UFRN</a>
            para os amantes de robótica educacional.
          </div>
        </div>
      </div>
    </div>
  </footer>