<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
</head>
<body>
    <h1>Planos de aula adicionados</h1>

    {% if not lista_planos_aula %}

        <h4>Não há planos de aula cadastrados.</h4>

    {% else %}

        <ul>
            {% for plano_aula in lista_planos_aula %}
                <li>{{plano_aula.titulo}} - {{plano_aula.descricao_atividade}}</li>
            {% endfor %}
        </ul>

    {% endif %}
</body>
</html>