
{% extends "Base/base.html" %}

{% load pagination_tags %}
{% load attribute_tags %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}
<br>
<div class="row">
    <div class="col-md-4 col-lg-4">
        <div class="card border-primary"> <!--Por borda-->
            <div class="card-header pb-0 p-3 bg-gradient-warning">
                <p class="text-sm mb-0 text-uppercase text-white font-weight-bold">Filtros</p>
            </div>
            <div class="card-body p-3 overflow-auto">
                <div class="form-group">
                    <form action="" method="get">
                        <div class="input-group">
                            <span class="input-group-text text-body">Título</span>
                            {{form_filtro.titulo|add_class:"form-control"}}
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text text-body">Contextualização</span>
                            {{form_filtro.contextualizacao|add_class:"form-control"}}
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text text-body">Descrição da atividade</span>
                            {{form_filtro.descricao_atividade|add_class:"form-control"}}
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text text-body">Disciplinas</span>
                            {{form_filtro.conteudos__disciplina|add_class:"form-control"}}
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text text-body">Conteúdos</span>
                            {{form_filtro.conteudos|add_class:"form-control"}}
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text text-body">Equipamento</span>
                            {{form_filtro.robo_equipamento|add_class:"form-control"}}
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text text-body">Linguagem</span>
                            {{form_filtro.prog_linguagem|add_class:"form-control"}}
                        </div>
                        <br>
                        <input type="submit" class="btn btn-success" value="Filtrar">
                        <div class="float-end">
                            {% if tipo == "todos" %}
                                <a href="{% url 'plano_aula:listar' %}"><span class="text-sm mb-0 font-weight-bold px-3">Limpar</span></a>
                            {% elif tipo == "usuario" %}
                                <a href="{% url 'plano_aula:listar_usuario' pk=user.pk %}"><span class="text-sm mb-0 font-weight-bold px-3">Limpar</span></a>
                            {% elif tipo == "favoritos" %}
                                <a href="{% url 'plano_aula:listar_favoritos' pk=user.pk %}"><span class="text-sm mb-0 font-weight-bold px-3">Limpar</span></a>
                            {% else %}
                                <a href="{% url 'plano_aula:listar_executados' pk=user.pk %}"><span class="text-sm mb-0 font-weight-bold px-3">Limpar</span></a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="main_div" class="col-md-8 col-lg-8">
        {% if tipo == "todos" %}
            <a href="{% url 'plano_aula:listar' %}" class="btn btn-success me-2">Todos os planos de aula</a>
            <a href="{% url 'plano_aula:listar_usuario' pk=user.pk %}" class="btn btn-light me-2">Meus planos de aula</a>
            <a href="{% url 'plano_aula:listar_favoritos' pk=user.pk %}" class="btn btn-light me-2">Favoritos</a>
            <a href="{% url 'plano_aula:listar_executados' pk=user.pk %}" class="btn btn-light me-2">Executados</a>
        {% elif tipo == "usuario" %}
            <a href="{% url 'plano_aula:listar' %}" class="btn btn-light me-2">Todos os planos de aula</a>
            <a href="{% url 'plano_aula:listar_usuario' pk=user.pk %}" class="btn btn-success me-2">Meus planos de aula</a>
            <a href="{% url 'plano_aula:listar_favoritos' pk=user.pk %}" class="btn btn-light me-2">Favoritos</a>
            <a href="{% url 'plano_aula:listar_executados' pk=user.pk %}" class="btn btn-light me-2">Executados</a>
            <a href="{% url 'plano_aula:criar' %}" class="btn btn-info me-2 float-end"><i class="fa fa-plus"></i></a>
        {% elif tipo == "favoritos" %}
            <a href="{% url 'plano_aula:listar' %}" class="btn btn-light me-2">Todos os planos de aula</a>
            <a href="{% url 'plano_aula:listar_usuario' pk=user.pk %}" class="btn btn-light me-2">Meus planos de aula</a>
            <a href="{% url 'plano_aula:listar_favoritos' pk=user.pk %}" class="btn btn-success me-2">Favoritos</a>
            <a href="{% url 'plano_aula:listar_executados' pk=user.pk %}" class="btn btn-light me-2">Executados</a>
        {% else %}
            <a href="{% url 'plano_aula:listar' %}" class="btn btn-light me-2">Todos os planos de aula</a>
            <a href="{% url 'plano_aula:listar_usuario' pk=user.pk %}" class="btn btn-light me-2">Meus planos de aula</a>
            <a href="{% url 'plano_aula:listar_favoritos' pk=user.pk %}" class="btn btn-light me-2">Favoritos</a>
            <a href="{% url 'plano_aula:listar_executados' pk=user.pk %}" class="btn btn-success me-2">Executados</a>
        {% endif %}
        <br>
        {% for aula in lista_planos_aula %}
                <div class="card" id="card_plano_aula_{{aula.id}}">
                    <div class="card-header bg-gradient-primary pb-0 p-3">
                        <span class="text-sm mb-0 text-uppercase text-white font-weight-bold">{{aula.titulo}}</span>
                        <div class="float-end">
                            <span class="text-sm mb-0 text-uppercase text-white font-weight-bold">
                                {% if aula.likes.all|encontrar_usuario_lista:user.id %}
                                    <a onclick="marcar_favorito({{aula.id}}, {{user.id}}, '{{tipo}}')">
                                        <i class="fas fa-thumbs-up px-3" id="icon_thumbs_up_{{aula.id}}"
                                        style="color: var(--bs-success);
                                                -webkit-text-stroke: 1px white;"></i>
                                    </a>
                                {% else %}
                                    <a onclick="marcar_favorito({{aula.id}}, {{user.id}}, '{{tipo}}')">
                                        <i class="fas fa-thumbs-up px-3" id="icon_thumbs_up_{{aula.id}}"
                                        style="color: white;"></i>
                                    </a>
                                {% endif %}
                                <span class="text-sm mb-0 text-uppercase text-white font-weight-bold" id="contador_thumbs_up_{{aula.id}}">{{ aula.likes.count }}</span>
                            </span>
                            <span class="text-sm mb-0 text-uppercase text-white font-weight-bold">
                                {% if aula.execucoes.all|encontrar_usuario_lista:user.id %}
                                    <a onclick="marcar_executado({{aula.id}}, {{user.id}}, '{{tipo}}')">
                                        <i class="fas fa-play px-3" id="icon_play_{{aula.id}}"
                                        style="color: var(--bs-success);
                                                -webkit-text-stroke: 1px white;"></i>
                                    </a>
                                {% else %}
                                    <a onclick="marcar_executado({{aula.id}}, {{user.id}}, '{{tipo}}')">
                                        <i class="fas fa-play px-3" id="icon_play_{{aula.id}}"
                                        style="color: white;"></i>
                                    </a>
                                {% endif %}
                                <span class="text-sm mb-0 text-uppercase text-white font-weight-bold" id="contador_play_{{aula.id}}">{{ aula.execucoes.count }}</span>
                            </span>
                        </div>
                    </div>
                    <a href="{% url 'plano_aula:detalhes' pk=aula.pk %}">
                        <div class="card-body row">
                            <div class="col-4">
                                {% if aula|plano_aula_midias_foto %}
                                    <div id="midias_robo_{{aula.pk}}" class="carousel slide" data-bs-interval="false">
                                        <div class="carousel-indicators">
                                            {% for foto in aula|plano_aula_midias_foto %}
                                                {% if forloop.counter == 1 %}
                                                    <button type="button" data-bs-target="#midias_robo_{{aula.pk}}" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                                                {% else %}
                                                    <button type="button" data-bs-target="#midias_robo_{{aula.pk}}" data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide {{forloop.counter}}"></button>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="carousel-inner">
                                            {% for foto in aula|plano_aula_midias_foto %}
                                                {% if forloop.counter == 1 %}
                                                    <div class="carousel-item active">
                                                {% else %}
                                                    <div class="carousel-item ">
                                                {% endif %}
                                                        <img class="d-block w-100" src="{{foto}}">
                                                    </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#midias_robo_{{aula.pk}}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#midias_robo_{{aula.pk}}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                {% else %}
                                    <img src="{% static 'assets/img/carousel-2.jpg' %}" alt="" class="img-fluid">
                                {% endif %}
                                {% for conteudo in aula.conteudos.all %} 
                                    <span class="mb-2 text-xs">{{conteudo.disciplina}}: 
                                        <span class="text-dark font-weight-bold ms-sm-2">{{conteudo.nome}}</span>
                                    </span>
                                    <br>
                                {% endfor %}
                            </div>
                            <div class="col-8">
                                <div class="overflow-auto">
                                    <i class="ni education_hat mr-2"></i>{{ aula.descricao_atividade|slice:":600" }}...
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>
            <br>
            
        {% empty %}
            <div class="card">
                <div class="card-body p-3 overflow-auto">
                    <p>Não foram encontrados planos de aula com esses parâmetros.</p>
                </div>
            </div>
            <br>
        {% endfor %}
        <nav class="justify-content-center d-flex pagination">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?{% url_replace request 'page' page_obj.previous_page_number %}" class="page-link" aria-label="Previous">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="" class="page-link" aria-label="Previous">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                {% endif %}
      
                {% if page_obj.number|add:'-2' > 1 %}
                    <li class="page-item">
                        <a href="?{% url_replace request 'page' page_obj.number|add:'-3' %}" class="page-link">&hellip;</a>
                    </li>
                {% endif %}
      
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active page-item">
                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                        <li class="page-item">
                            <a href="?{% url_replace request 'page' i %}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
      
                {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                    <li class="page-item">
                        <a href="?{% url_replace request 'page' page_obj.number|add:'3' %}" class="page-link">&hellip;</a>
                    </li>
                {% endif %}
      
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?{% url_replace request 'page' page_obj.next_page_number %}" class="page-link" aria-label="Next">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="" class="page-link" aria-label="Next">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

</div>

<br/>
  
{% endblock %}



{% block scripts %}
    <script src="{% static 'assets/js/custom/marcar_favorito_executado.js' %}"></script>
{% endblock %}